// Importiere deine Basis-SCSS-Datei
@use "./base.scss";

// Benutzerdefinierte Scrollbar-Stile für ein dunkles Thema
::-webkit-scrollbar {
  width: 8px; // Breite der vertikalen Scrollbar
  height: 12px; // Höhe der horizontalen Scrollbar
}

::-webkit-scrollbar-track {
  background: #2e2e2e00; // Dunkle Hintergrundfarbe des Scrollbar-Tracks (transparent)
}

::-webkit-scrollbar-thumb {
  background: #555; // Dunklere Hintergrundfarbe des Scrollbar-Griffs
  border-radius: 6px; // Abrundung der Ecken des Scrollbar-Griffs
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 148, 178); // Hintergrundfarbe des Scrollbar-Griffs beim Hover
}

// Anwendung des dunklen Themas auf Elemente mit Overflow
p,
ul,
text,
a,
tr,
td,
.katex,
.math {
  overflow-wrap: anywhere;
  hyphens: auto;
  overflow-x: auto; // Erlaubt horizontalen Overflow mit Scrollbar
  overflow-y: clip; // Verhindert vertikalen Overflow
  scrollbar-width: thin; // Für Firefox
  scrollbar-color: #555 #2e2e2e; // Scrollbar-Farbe für ein dunkles Thema in Firefox
}

/* ------------------------------------------------------------------------------------------- */

/* [saved-theme="dark"] {
  article {
    h1 {
      color: rgb(0, 188, 227); 
    }
    h2 {
      color: rgb(0, 123, 149); 
    }
    h3 {
      color: rgb(0, 74, 90); 
    }
    h4 {
      color: rgb(161, 140, 190); 
    }
    h5 {
      color: rgb(180, 142, 173); 
    }
    h6 {
      color: rgb(208, 135, 112); 
    }
  }

  strong,
  code {
    color: rgb(216, 222, 233); 
  }

  span.text-highlight {
    background-color: rgba(163, 190, 140, 0.3); 
  }

  em {
    color: rgb(129, 161, 193); 
  }

  ::selection {
    background: rgb(76, 86, 106); 
  }
}

[saved-theme="light"] {
  article {
    h1 {
      color: #8c4308;
    }

    h2 {
      color: rgb(143, 94, 21);
    }

    h3 {
      color: #33635c;
    }

    h4 {
      color: rgb(15, 75, 110);
    }

    h5 {
      color: rgb(52, 84, 138);
    }

    h6 {
      color: rgb(90, 74, 120);
    }
  }

  strong {
    color: #0f4b6e !important;
  }

  em {
    color: #0f4b6e !important;
  }

  code {
    color: #343b58 !important; 
    background-color: #c3c5c9;
  }

  span.text-highlight {
    color: #343b58 !important;
    background: #bca093 !important;
  }
}
 */

/* CENTERED TABLES */

.table-container {
  overflow-x: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & > table {
    margin: 1rem;
    padding: 1.5rem;
    border-collapse: collapse;

    th,
    td {
      min-width: 75px;
    }

    & > * {
      line-height: 2rem;
    }
  }
}

/* CENTERED TABLES END */

/* Define colors for light and dark themes */
/* Define colors for light and dark themes */
html[saved-theme="light"] .svg-icon path {
  stroke: #292d32; /* Dark color for light mode */
}

html[saved-theme="dark"] .svg-icon path {
  stroke: #ffffff; /* Light color for dark mode */
}

html[saved-theme="light"] .svg-icon-book {
  fill: #292d32; /* Dark color for light mode */
}

html[saved-theme="dark"] .svg-icon-book {
  fill: #ffffff; /* Light color for dark mode */
}

/* SCROLL INDICATOR */

/* Hide the container by default */
/* General styles to hide container, modify if necessary based on page layout */
.container {
  display: none;
}

/* Specific styles for phone-sized devices */
/*
@media (max-width: 600px) {
  .container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -80px; 
  }

  .chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
  }

  .chevron:first-child {
    animation: move 3s ease-out 1s infinite;
  }

  .chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
  }

  .chevron:before,
  .chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff; /
  }

  .chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
  }

  .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }

  @keyframes move {
    25% {
      opacity: 1;
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }

  .text {
    display: block;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff; 
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
    margin-top: 140px;
  }

  @keyframes pulse {
    to {
      opacity: 1;
    }
  }
}


html[saved-theme="light"] .chevron:before,
html[saved-theme="light"] .chevron:after {
  background: #000; 
}

html[saved-theme="light"] .text {
  color: #000; 
}

html[saved-theme="dark"] .chevron:before,
html[saved-theme="dark"] .chevron:after {
  background: #fff; 
}

html[saved-theme="dark"] .text {
  color: #fff; 
}

/* SCROLL INDICATOR END*/

/* Disqus DARK*/
#disqus_thread {
  background-color: #faf8f8;
  padding: 25px;
  border-radius: 25px;
}

/* Disqus DARK*/
html[saved-theme="dark"] #disqus_thread {
  background-color: white;
  padding: 25px;
  border-radius: 25px;
}
